*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  text-align: center;
}
h1 {
  color: #6029e7;
}
h2 {
  border: 0.1em solid #6029e7;
  border-radius: 8px;
  padding: 1em;
  width: 50%;
  margin: 1em auto;
  font-size: 1.5em;
}

img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-size: 0.75em;
  max-width: 70%;
  margin: 1em auto;
  text-align: left;
}
.Learn-more {
  text-decoration: none;
  display: block;
}
